<header class="header-nav">
    <div class="nom-logo">
        <!--<li class="nom-logo"><a href="/">ENI - ENCHERES</a></li>-->
        <a href="/">ENI - ENCHERES</a>
    </div>
    <nav class="mod_navigation">
        <ul class="mod_nav">
            <li><a href="/login">Connexion</a></li>
            <li><a href="/registration">S'inscrire</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/profil"><i class="fas fa-user"></i></a></li>
            <li><a href="/login?logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </nav>
</header>

