
body {
    margin: 0px;
}

/*.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
.nav-links {
    padding-right: 50px;
}

*{
    font-family: sans-serif;
}
h2{
    font-size: 32px;
}

body {
    padding: 0px !important;
    margin: 0px !important;
}
.nav {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #0e21ab;
}

.nav li {
    float: right;
    margin-right: 2.5%;
    font-weight: bold;
    line-height: 50px;
}

.nav li:last-child {
    float: left;
    margin-left: 4%;
}

a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
li {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}*/

.header-nav{
    background: #0e21ab;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .nom-logo{
    margin-left: 100px;
}

.mod_navigation {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 50%;
    margin-right: 100px;
}

.mod_navigation ul.mod_nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

.mod_navigation ul li {
    margin-left: 35px;
    padding: 10px 0px;
}

.mod_navigation a, .nom-logo a {
    color: #fff;
    text-decoration: none;
}

.mod_navigation a:hover{
    color: #8fc8e9;
    transition-duration: 0.5s
}

