<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'inscription</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/formulaire.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<header th:replace="~{fragment/nav}"></header>
<body>
<div class="container">
    <div class="formulaire">

        <div th:if="${message != null}" class="message">
            [[${message}]]
        </div>
        <form
                th:action="@{/new/article}"
                method="post"
                role="form"
                th:object="${article}"
        >
            <h1>Article</h1>
            <div class="input-group">
                <label for="nom_article">Nom de l'article:</label>
                <input th:field="*{nomArticle}" type="text" id="nom_article" name="nom_article" placeholder="Entrez le nom de l'article" required>
            </div>
            <div class="input-group">
                <label for="description">Description:</label>
                <textarea th:field="*{description}" id="description" name="description" placeholder="Entrez la description de l'article" required></textarea>
            </div>
            <div class="input-group">
                <label for="date_debut_encheres">Date de début d'enchères:</label>
                <input th:field="*{dateDebutEncheres}" type="date" id="date_debut_encheres" name="date_debut_encheres" required>
            </div>
            <div class="input-group">
                <label for="date_fin_encheres">Date de fin d'enchères:</label>
                <input th:field="*{dateFinEncheres}" type="date" id="date_fin_encheres" name="date_fin_encheres" required>
            </div>

            <div class="input-group">
                <label for="prix_initial">Mise à prix:</label>
                <input th:field="*{prixInitial}" type="number" id="prix_initial" name="prix_initial" placeholder="Entrez le prix initial" required>
            </div>

            <label>
                <select name="categoryId">
                    <option th:each="category : ${categories}" th:value="${category.no_categorie}" th:text="${category.libelle}"></option>
                </select>
            </label>

            <div class="input-group">
                <input type="hidden" id="userId" name="userId" th:value="${userId}">
            </div>
            <button type="submit" class="btn">Ajouter l'article</button>
        </form>
    </div>
</div>
</body>
</html>
