<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des articles</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<header th:replace="~{fragment/nav}"></header>
<body>
<h1>Liste des articles</h1>
<div class="button-container">
    <a th:href="@{/new/article}">
        <button class="new-article-button">Nouvel Article</button>
    </a>
</div>

<table>
    <thead>
    <tr>
        <th>Nom de l'article</th>
        <th>Description</th>
        <th>Date de début d'enchères</th>
        <th>Date de fin d'enchères</th>
        <th>Prix initial</th>
        <th>Prix de vente</th>
        <th>Numéro de l'utilisateur</th>
        <th>Numéro de catégorie</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="article : ${articles}">
            <td th:text="${article.nomArticle}"></td>
            <td th:text="${article.description}"></td>
            <td th:text="${article.dateDebutEncheres}"></td>
            <td th:text="${article.dateFinEncheres}"></td>
            <td th:text="${article.prixInitial}"></td>
            <td th:text="${article.prixVente}"></td>
            <td th:text="${article.noUtilisateur}"></td>
            <td th:text="${article.noCategorie}"></td>
            <td class="btn-actions">
                <form th:action="@{'/encherir/article/' + ${article.noArticle}}" method="get">
                    <button class="encherir" type="submit">Encherir</button>
                </form>

                <th:block th:if="${article.noUtilisateur == userId}">
                    <form th:action="@{'/edit/article/' + ${article.noArticle}}"  method="get">
                        <button class="modify"  type="submit">Modifier</button>
                    </form>
                    <form th:action="@{/article/{id}(id=${article.noArticle})}"  method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button class="delete" type="submit">Supprimer</button>
                    </form>
                </th:block>
            </td>

        </tr>
</table>
</body>
</html>
