<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'inscription</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<header th:replace="~{fragment/nav}"></header>
<body>
<div class="container">
    <div class="formulaire">
        <h2>Article</h2>
        <div th:if="${message != null}" class="message">
            [[${message}]]
        </div>

        <form
                th:action="@{/new/categorie}"
                method="post"
                th:object="${categorie}"
        >
            <div class="input-group">
                <label for="libelle_categorie">Nom de la categorie:</label>
                <input th:field="*{libelle}" type="text" id="libelle_categorie" placeholder="Entrez le nom de l'article" required>
            </div>

            <button type="submit" class="btn">Ajouter la categorie</button>
        </form>
    </div>
</div>
</body>
</html>
