    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Profil de l'utilisateur</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="/css/profil.css">
        <link rel="stylesheet" href="/css/nav.css">


    </head>
    <header th:replace="~{fragment/nav}"></header>
    <body>
    <div class="container2">

        <div class="layout">
        <div class="profile">
            <h3 class="profile__title">Informations Personnelles</h3>
            <div class="profile__stats">
                <div class="profile__stat">
                    <div class="profile__icon profile__icon--blue"><i class="fas fa-user"></i></div>
                    <div class="profile__value"> <div th:text="${user.pseudo}"></div>
                    </div>
                </div>
                <div class="profile__stat">
                    <div class="profile__icon profile__icon--blue"><i class="fas fa-user-friends"></i></div>
                    <div class="profile__value">
                        <div th:text="|${user.nom} ${user.prenom}|"></div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="layout">
        <div class="profile">
            <h3 class="profile__title">Contact</h3>
            <div class="profile__stats">
                <div class="profile__stat">
                    <div class="profile__icon profile__icon--gold"><i class="fas fa-solid fa-envelope"></i></div>
                    <div class="profile__value"> <div th:text="${user.email}"></div>
                    </div>
                </div>
                <div class="profile__stat">
                    <div class="profile__icon profile__icon--blue"><i class="fas fa-phone"></i></div>
                    <div class="profile__value"> <div th:text="${user.telephone}"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="layout">
        <div class="profile">
            <h3 class="profile__title">Adresse</h3>

            <div class="profile__stats">
                <div class="profile__stat">
                    <div class="profile__icon profile__icon--gold"><i class="fas fa-solid fa-envelope"></i></div>
                    <div class="profile__value">
                        <div th:text="|${user.rue}, ${user.codePostal} ${user.ville}|"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="profil">
        <button class="profile__edit-button">
            <a th:href="@{/edit-profil}">Modifier Profil</a>
        </button>
    </div>

    </body>
    </html>