<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<header th:replace="~{fragment/nav}"></header>

<body>
<div class="login-container">
    <form th:action="@{/auth/forgot}" method="post" class="login-form">
        <h2>Réinitialiser le mot de passe</h2>
        <div class="txtb">
            <input type="email" id="email" name="email" placeholder="Email" required />
        </div>
        <input type="submit" value="Envoyer le lien de réinitialisation" class="logbtn">

        <!-- Affichage conditionnel du message -->
        <p th:if="${message}" class="info-message" th:text="${message}"></p>
    </form>
</div>
</body>
</html>
